*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-style: italic;
}

h2 {
  font-family: "Comic Neue", cursive;
}

body {
  padding: 1em;
  font-family: "Nunito", sans-serif;
  /*Background from uigradients.com*/
  background: #fc466b; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #3f5efb, #fc466b); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #3f5efb,
    #fc466b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
  color: white;
}

header,
article {
  max-width: 620px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2.5px solid violet;
  border-radius: 22px;
  box-shadow: 10px 10px 10px 0 black;
  margin: 1em auto;
  padding: 2em 2em;
  gap: 1em;
}

